{#<div class="row collection-child" style="margin-bottom:15px;">#}
    <div class="col-md-3 collection-item">
        {{ form_widget(file.file, {'attr':{ 'class': 'form-control', 'style': 'display:inline; width: 90%'}}) }}
        {{ form_errors(file.file) }}
    </div>
{#</div>#}