<div class="section section--menu-seperator"></div>
<div class="section section--ranking section--ranking--fixed">
    <div class="ranking-holder ranking-holder--full">
        <div class="ranking__title">3e klasse B</div>
        <div class="ranking">
            <table class="table" cellspacing="0">
                <thead class=table-haeding>
                <td class="table__cell--center">POS</td>
                <td>TEAM</td>
                <td>M</td>
                <td>W</td>
                <td>G</td>
                <td>V</td>
                <td>F</td>
                <td>A</td>
                <td>GD</td>
                <td>PTN</td>
                </thead>
                <tbody>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">1</td>
                    <td>Oosterzonen</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">2</td>
                    <td>Beerschot-Wilrijk</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row table-row--active">
                    <td class="table__cell--center table__cell--gray">3</td>
                    <td>Bocholt VV</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">4</td>
                    <td>SP Hasselt</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">5</td>
                    <td>Ruw Ciney</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">6</td>
                    <td>Sprimont</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">7</td>
                    <td>FC Liège</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">8</td>
                    <td>Hamoir</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">9</td>
                    <td>Rupel Boom</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">10</td>
                    <td>Rupel Boom</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">11</td>
                    <td>Rupel Boom</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">12</td>
                    <td>Rupel Boom</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">13</td>
                    <td>Rupel Boom</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">14</td>
                    <td>Rupel Boom</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">15</td>
                    <td>Rupel Boom</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                <tr class="table-row">
                    <td class="table__cell--center table__cell--gray">16</td>
                    <td>Rupel Boom</td>
                    <td>36</td>
                    <td>19</td>
                    <td>14</td>
                    <td>3</td>
                    <td>68</td>
                    <td>38</td>
                    <td>30</td>
                    <td>71</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>