<div class="section section--menu-seperator"></div>
<div class="section section--ranking section--ranking--fixed">
    <div class="ranking-holder ranking-holder--full">
        <div class="ranking__title">A-Kern</div>
        <div class="team">
            <div class="team__subtitle">Aanvallers</div>
            <div class="team__members">
                <a href="/a-kern-detail.html" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
            </div>
            <div class="team__subtitle">Middenvelders</div>
            <div class="team__members">
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
            </div>
            <div class="team__subtitle">Verdedigers</div>
            <div class="team__members">
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
            </div>
            <div class="team__subtitle">Doelmannen</div>
            <div class="team__members">
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
                <a href="#" class="team__member">
                    <img class="team__member-image" src="http://www.bocholtvv.be/wp-content/uploads/2015/07/bloemen-667x740.jpg">
                    <div class="team__member-title">Kristof Bloemen</div>
                </a>
            </div>
        </div>
    </div>
</div>