<ul class="dropdown-menu dropdown-menu-right dropdown-animation">
    <li>
        <form action="{{ path("_logout") }}" method="post" id="logout">
            <button type="submit" class="btn btn-group btn-dark btn-sm">Logout</button>
        </form>
    </li>
</ul>